body {
   background: white;
               
}
img {
  width: 15%;
  
}
section.pictures {
    display:flex;
    background:grey;
    
}
section.pictures img{
    width: 80%;
}
figcaption{
    padding:1vw;
}
nav {
    font: 40px;
    text-align: center;
    background:black;
    color:white;
}